@font-face {
    font-family: MinecraftFont;
    src: url(../fonts/Minecraft.ttf);
  }

.product-box{
    position: absolute;
    background-color: #171a25;
    top: 35%;
    height: 155%;
    width: 60%;
    border-radius: 1.5%;
}

.product-big-image{
    position: absolute;
    left: 3%;
    top: 3%;
    width: 70%;
    height: 37.5%;
}

.other-images{
    position: relative;
    margin-left: 40%;
}

.pd-image-1 {
    position: relative;
    width: 24%;
    height: 11%;
    top: 3%;
    left: 75%;

}

.pd-image-2 {
    position: relative;
    width: 24%;
    height: 11%;
    top: 16.25%;
    left: 50.5%;
}

.pd-image-3 {
    position: relative;
    max-width: 24%;
    max-height: 11%;
    top: 29.5%;
    left: 26%;
}

.product-title {
    position: relative;
    top: 30%;
    left: 3%;
    color: white;
    font-family: MinecraftFont;
}

.product-title-mini {
    position: relative;
    top: 29%;
    left: 3%;
    color: grey;
    font-size: 13px;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.product-description {
    position: absolute;
    top: 50%;
    color: white;
    width: 75%;
    left: -2%;
}

.product-modrinth {
    position: relative;
    top: 53%;
}

.product-github {
    position: relative;
    top: 55%;
}

.product-planetminecraft {
    position: relative;
    top: 57%;
}

.product-link {
    text-decoration: none;
    color: white;
    font-size: x-large;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    left: 2%;
}

.seperator {
    position: relative;
    top: 57%;
}

.avatar {
    vertical-align: middle;
    position: relative;
    top: 58.5%;
    left: 2%;
    width: 125px;
    height: 125px;
    border-radius: 50%;
  }

  .author-name {
    position: relative;
    top: 48%;
    left: 20%;
    font-size: x-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
  }

.author-bio {
    position: relative;
    top: 47%;
    left: 20%;
    color: white;
    max-width: 600px;
}